{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container note">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">
            <div style='font-size:50%;opacity:0.5;'>Notes on:</div>
            <a class="title-link" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
        <div class="post-meta">
            <div>
                <span class="article-author">
                    {{ with .Page.Params.bibinfo.author }}
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Author(s): {{ . }}
                    {{ end }}
                </span>
            </div>
            <div>
                <span class="article-journal">
                    {{ with .Page.Params.bibinfo.journal }}
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Journal: {{ . }}
                    {{ end }}
                </span>
            </div>
            <div>
                <span class="posted-on">
                    {{ if not (eq .Page.Params.bibinfo.date "") }}
                      {{ with .Page.Params.bibinfo.date }}
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      Published: {{ . }}
                      {{ end }}
                    {{ else }}
                      <i class="fa fa-calendar-o" aria-hidden="true"></i>
                      Published:
                      {{ with .Page.Params.bibinfo.month }}{{ . | humanize }}{{end}}
                      {{ with .Page.Params.bibinfo.year }} {{ . }} {{ end }}
                    {{ end }}
                </span>
            </div>
            {{ with .Page.Params.bibinfo.doi }}
            <div>
                <i class="fa fa-external-link-square" aria-hidden="true"></i>
                <span class="smallcap">doi: </span><a href="{{ . }}">{{ . }}</a>
            </div>
            {{ end }}
            {{ with .Page.Params.bibinfo.isbn }}
            <div>
                <i class="fa fa-external-link-square" aria-hidden="true"></i>
                <span class="smallcap">isbn: </span><a href="https://isbndb.com/book/{{ . }}">{{ . }}</a>
            </div>
            {{ end }}
            {{ with .Page.Params.bibinfo.url }}
            <div>
                <i class="fa fa-external-link-square" aria-hidden="true"></i>
                <span class="smallcap">url: </span><a href="{{ . }}">{{ . }}</a>

            </div>
            {{ end }}
          {{ with .Page.Params.Authors }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div class="body-contents">
        {{ if .Params.featuredImage }}
          <img src='{{ .Params.featuredImage }}' alt="Featured image"/>
        {{ end }}
        {{ .Content }}
          <hr>
          <i>This post is in the collection of my <a href='{{ ref . "reading_notes" }}'>public reading notes</a>.</i>
      </div>


      <footer>
          <!-- Implementing backlinks -->
        {{ partial "posts/backlinks.html" . }}
        {{ partial "posts/series.html" . }}
      </footer>
    </article>
    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
