*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: $fg-color;
  background-color: $bg-color;
  font-family: $serif-font-family;
  font-weight: $regular-font-weight;
  font-feature-settings: 'liga' on 'wght' on;
  font-size: 1.8em;
  line-height: 1.55;
  @media only screen and (max-width : 768px) {
    font-size: 1.6em;
    line-height: 1.6;
  }
}

::selection {
  background: $muted-bg-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
    transition: all 0.25s ease-in;
  }
}

p {
  margin: 2rem 0 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-font-family;
  font-weight: 700;
  color: $main-fg-color;
  hyphens: none;
  scroll-margin-top: 100px;
  &:hover .heading-link {
    visibility: visible;
  }

  .heading-link {
    color: $link-color;
    font-weight: inherit;
    border-bottom: none !important;
    font-size: 80%;
    visibility: hidden;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .title-link {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
  span.tag {
    display: none;
  }
}

h1 {
  font-family: $sc-font-family;
  font-size: 3.2rem;
  line-height: 3.6rem;

  @media only screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 3.4rem;
    max-width: 97%;
  }
}
h2, #bibliography {
  font-size: 2.8rem;
  line-height: 3.2rem;
  p:first-of-type:first-line {
    font-family: $sc-font-family;
  }
  @media only screen and (max-width: 768px) {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

#bibliography ~ p{
  &::before {
    content: "-";
    display: block;
    position: absolute;
    text-align: right;
    margin-left: -1rem;
    margin-top: 0.3rem;
    font-family: $symbol-font-family;
    color: $gruvbox-light4;
    z-index: -1;
  }
  a:target::before {
    content: "\f0a4";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: block;
    color: $main-fg-color;
    background-color: $gruvbox-bright-yellow-dark;
    position: absolute;
    text-align: right;
    margin-top: 0.35rem;
    margin-left: -2rem;
  }
}

div.csl-entry a:target::before {
  content: "\f0a4";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: block;
  color: $main-fg-color;
  background-color: $gruvbox-bright-yellow-dark;
  position: absolute;
  text-align: right;
  margin-left: -3rem;
}


h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;

  @media only screen and (max-width: 768px) {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 2.6rem;

  @media only screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

h5 {
  font-size: 2rem;
  line-height: 2.4rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

h6 {
  font-size: 1.8rem;
  line-height: 2.2rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

hr {
  border: none;
  border-top: 1px dashed $gruvbox-gray;
  color: $gruvbox-gray;
  overflow: visible;
  text-align: center;
  margin: 3rem 0;
  height: 5px;
  &:after {
    background: $bg-color;
    font-family: $symbol-font-family;
    font-size: 3rem;
    content: '🙦';
    padding: 0 20px;
    position: relative;
    top: -10px;
  }
}

b, strong {
  font-weight: $bold-font-weight;
}

.underline {
  text-decoration: underline;
}

.smallcap, .acr {
  font-family: $sc-font-family;
}


.highlight>div,
.highlight>pre {
  margin: 0 0 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

pre {
  display: block;
  font-family: $code-font-family;
  font-size: 1.5rem;
  font-weight: 500;
  overflow-x: auto;
  margin: 0;

  code {
    font-size: 1.4rem;
    display: inline-block;
    background-color: inherit;
    color: inherit;
    @media (max-width: 768px) {
      width: 97%;
      line-height: 1.5rem;
      font-size: 1.1rem;
    }
  }
}

/* Show the language name in the code block's corner */
pre code[data-lang]:not([data-lang=""])::before {
  font-family: Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
  font-style:normal;
  font-size: 1rem;
  content: attr(data-lang);
  display: block;
  position: absolute;
  margin-left: 0%;
  margin-top: -2em;
  font-weight: bold;
  background-color: inherit;
  color: $gruvbox-dark4;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Also display a prompt if in console mode */
pre code[data-lang="shell"] .line::before {
  content: "$";
  color: $gruvbox-dark4;
  padding-right: 8px;
}



code {
  font-family: $code-font-family;
  font-size: 80%;
  font-weight: 500;
  background-color: $alt-bg-color;
  border-radius: 5px;
  padding: 2px 4px;
  color: $fg-color;
  border-radius: 0.6rem;
  padding: 0.3rem 0.6rem;
}


kbd {
  font-size: 80%;
  -moz-border-radius:3px;
  -moz-box-shadow:0 1px 0 $alt-bg-color,0 0 0 2px $muted-bg-color inset;
  -webkit-border-radius:3px;
  -webkit-box-shadow:0 1px 0 $alt-bg-color,0 0 0 2px $muted-bg-color inset;
  background-color: $gruvbox-dark0-soft;
  border:1px solid $main-bg-color;
  border-radius:3px;
  box-shadow:0 2px 0 $alt-bg-color,0 0 0 2px $gruvbox-dark3 inset;
  color: $main-fg-color;
  font-family: $code-font-family;
  /* margin:0 .1em; */
  padding: 0 .3em;
  text-shadow:0 1px 0 $muted-bg-color;
}


blockquote {
  margin: 0;
  background-color: $overlay-color;
  border-left: 3px solid $link-color;
  padding: 10px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

ul.list-tag {
  padding: 0 0 0 0;
  max-width: 100%;
  margin: 3.2rem 0 3.2rem 0;
  li {
    display: flex;
    padding: 0.5rem 0;
    > a {
      border-bottom: none !important;
      text-decoration-line: none !important;
      &:hover {
        text-decoration: underline !important;
      }
      flex: 2;
      width: 100%;
      margin-right: 2rem;
      &::before {
        content: "-";
        display: inline-block;
        position: absolute;
        text-align: right;
        margin-left: -1rem;
        margin-top: 0.3rem;
        font-family: $symbol-font-family;
        color: $gruvbox-light4;
        z-index: -1;
      }
    }
    > span {
      font-size: 1.5rem;
      flex: 1;
      a {
        color: $link-color;
      }
    }
    @media only screen and (max-width: 768px) {
      display: inline-block;
      > span {
        font-size: 1.2rem;
      }
    }
  }
}

th,
td {
  padding: 1.6rem;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 2px solid $alt-fg-color;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

dt {
  font-weight: bold;
  padding: 2px 4px;
}

figure {
  text-align: center;
}

img {
  max-width: 100%;
}

iframe {
  align: middle;
  border: none;
  background: transparent;
  width: 100%;
}

:target {
  transition: background-color 0.5s ease-out;
  animation: blinker 2s ease-out;
}


@keyframes blinker {
  from {
    background-color: $gruvbox-bright-yellow-dark;
  }
}

.dropcap {
  font-size: 5.3rem;
  font-weight: 700;
  font-feature-settings: 'lnum' on;
  float: left;
  line-height: 1;
  margin-right: 0.1em;
  color: $link-color;
  text-shadow: 5px 3px 3px $gruvbox-dark3;
}
.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-bottom: -0.175rem;
}
.dropcap:after {
  margin-top: -0.175rem;
}
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.preload-transitions * {
  $null-transition: none !important;

  -webkit-transition: $null-transition;
  -moz-transition: $null-transition;
  -ms-transition: $null-transition;
  -o-transition: $null-transition;
  transition: $null-transition;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.fab {
  font-weight: 500;
}

.fas {
  font-weight: 700;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.fab {
  font-weight: 500;
}

.fas {
  font-weight: 900;
}
