@mixin navigation_dark {
  .navigation {
    a, span {
      color: $fg-color-dark;
    }
    .navigation-title {
      color: $fg-color-dark;
    }
    .navigation-list {
      @media only screen and (max-width: 768px) {
        background-color: $emph-bg-color-dark;
        border-top: solid 2px $alt-bg-color-dark;
        border-bottom: solid 2px $alt-bg-color-dark;
        box-shadow: 2px 3px 12px adjust-color($emph-bg-color-dark, $lightness: -50%);
      }
      .navigation-item {
        a, i, span {
          color: $fg-color-dark;
          @media only screen and (max-width: 768px) {
            color: $fg-color-dark;
          }
        }
      }

      .menu-separator {
        @media only screen and (max-width: 768px) {
          border-top: 2px solid $fg-color-dark;
        }
      }

      .language-menu .language-list {
        background-color: $emph-bg-color-dark;
        border-color: $alt-bg-color-dark;
        box-shadow: 2px 3px 12px adjust-color($emph-bg-color-dark, $lightness: -50%);

        .language-link {
          color: $fg-color-dark;
        }

        .is-current {
          color: $link-color-dark;
        }

        @media only screen and (max-width: 768px) {
          background: none;
          box-shadow: none;
        }
      }
    }

    #menu-toggle {
      @media only screen and (max-width: 768px) {
        &:checked+label>i {
          color: $muted-bg-color;
        }
      }
    }

    i {
      color: $fg-color-dark;
    }
  }

  .banner {
    background-color: #004f50;
    box-shadow: 2px 3px 12px adjust-color($emph-bg-color-dark, $lightness: -50%);
    img {
      filter: hue-rotate(160deg) brightness(50%);
    }
  }
}

body.colorscheme-dark {
  @include navigation_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include navigation_dark();
  }
}
