<!-- Obtain all posts with tag -->
{{ $tag := .Get "tag" }}
<ul class="list-tag fullwidth">
    {{ range $ind,$art := .Site.Pages.ByDate }}
        {{ if in $art.Params.series "Reading notes" }}
        <li>
            {{ if eq $art.Permalink $.Page.Permalink}}
                {{ $art.Params.title }}
            {{ else }}
                <a href="{{ $art.Permalink }}">
                    {{ $art.Params.title }}
                </a>
                <span>{{ with $art.Params.tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}</span>
            {{ end }}
        </li>
        {{ end }}
    {{ end }}
</ul>
